
// Color definitions
$base-bg-color : #010E1A;

$high-emph: rgba(white, 0.87);
$med-emph: rgba(white, 0.69); 
$low-emph: rgba(white, 0.38);

$overlay: mix($base-bg-color, white, 95%);
$overlay-light: mix($base-bg-color, white, 86%);

// Background
html, body, input, textarea, select, button {   
    color: $high-emph !important;
    background-color: $base-bg-color !important;
  }

// Controls hyperlinks I think?
a {
    color: rgb(75, 186, 255) !important;
}

a:hover {
    color:$high-emph !important;
}


// Navbar colors
.site-title, .site-title:visited, .site-nav, .page-link {
    color: $high-emph !important;
}

.site-nav {
    background-color: $base-bg-color;
    border-color: $overlay-light;
}


// Scrollbar
* {
    scrollbar-color: $dark-grey $overlay-light;
}

// Code
pre, code {
    // BVas a lighter colour to better highlight short code words
    border-color: $overlay-light;
    background-color: $overlay;
}

.page-description {
    color: $med-emph;
}

.post-meta {
    color: $low-emph;
}

.post-content p, .post-content li {
    color: $med-emph;
}

.btn {
    background-color: $overlay !important;
    color: $high-emph !important;
    border-color: $overlay-light !important;
}

.btn:hover {
    background-color: $dark-grey !important;
}

table th{
    background-color: $overlay;
    border-color: $overlay-light;
    color: $high-emph;
}

table td{
    background-color: $dark-grey;
    border-color: $overlay-light;
    color: $med-emph;
}

.flash {
    color: $dark-grey !important;
    filter: brightness(80%);
}

canvas {
    filter: invert(100%);
}

.post-list > li > div {
    box-shadow: none !important;
    background-color: $overlay;
    border: none !important;
}

li .post-meta-description {
    color: $med-emph !important;
}


// .site-header {
//     background-color: $header-bg-color;
    
// }

// .site-title, .site-title:visited, .site-nav, .page-link {
//     color: $header-txt-color !important;
// }


// .site-nav {
//     background-color: $light-blue;
//     border-color: $overlay-light;
// }